# Chessformer - Data analysis

## Imports

In [48]:
import duckdb

## Data analysis

In [47]:
duckdb.query('''
SELECT
    strftime(Timestamp, '%Y-%m') AS date,
    MEAN(WhiteElo) AS mean_white_elo
FROM read_parquet('data/raw_game_data/*.parquet.zstd')
GROUP BY 1
''').df()

       date  mean_white_elo
0   2013-10     1606.737356
1   2014-09     1622.069045
2   2015-10     1641.416630
3   2015-11     1661.431204
4   2017-12     1591.770160
..      ...             ...
66  2013-09     1610.616196
67  2018-06     1563.838943
68  2017-11     1600.467297
69  2014-11     1623.396021
70  2013-08     1613.557653

[71 rows x 2 columns]